<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServicioPronosticoSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:54116/ServicioPronostico.asmx"
                binding="basicHttpBinding" bindingConfiguration="ServicioPronosticoSoap"
                contract="ServicioPronostico.ServicioPronosticoSoap" name="ServicioPronosticoSoap" />
        </client>
    </system.serviceModel>
</configuration>